* {
    font-family: 'Arsenal', sans-serif;
    font-size: 18px;
}

.font-weight-bold {
    font-weight: 700;
}

.archdauFont {
    font-family: 'Architects Daughter', cursive;
}

.v-carousel__controls {
    border-radius: 0 0 25px 25px;
    text-align: center;
}

.v-image__image {
    /*background-position: right !important;*/
}


html {
    scroll-behavior: smooth;
}

.container {
    scroll-margin-top: 170px;
}


.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
    letter-spacing: 3px !important
}

.fs-48 {
    font-size: 48px !important;
    font-weight: 700 !important
}

.fs-40 {
    font-size: 40px !important;
    font-weight: 700 !important
}

a {
    text-decoration: none;
    color: black !important;
}

.customCarousel {
    /*min-height: 527px;*/
}

.buttonGroups {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.productImage {
    border-radius: 0 50px 50px 0;
}

.productsDetails {
    border-radius: 50px 0 0 50px;
}

@media (max-width: 599px) {
    /*#who_we_are {*/
    /*    margin-top: -215px;*/
    /*}*/

    .container {
        scroll-margin-top: 50px;
    }

    .v-image.v-responsive.v-carousel__item {
        height: 1000px !important;
    }

    .v-carousel__controls {
        /*padding-top: 25px;*/
        /*bottom: 25px;*/
    }

    .customCarousel {
        min-height: 950px;
    }

    .buttonGroups {
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        bottom: unset;
    }

    .fs-48, .fs-40 {
        font-size: 24px !important;
        font-weight: 700 !important;
    }

    .fs-20 {
        font-size: 18px !important
    }

    .fs-22 {
        font-size: 20px !important
    }
}

@media (max-width: 959px) {
    .productImage {
        border-radius: 50px 50px 0 0 !important;
    }

    .productsDetails {
        border-radius: 0 0 50px 50px !important;
    }

    .customCarousel {
        min-height: 620px;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
   .v-carousel__controls {
        bottom: 50px !important;
    }

    .container {
        scroll-margin-top: 50px;
    }

    .buttonGroups {
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        bottom: unset;
    }

    .v-image.v-responsive.v-carousel__item {
        height: 1150px !important;
    }

    .customCarousel {
        min-height: 1150px !important;
    }

    .fs-48, .fs-40 {
        font-size: 30px !important;
        font-weight: 700 !important;
    }

    .fs-20 {
        font-size: 18px !important
    }

    .fs-22 {
        font-size: 20px !important
    }
}

@media (min-width: 960px) and (max-width: 1264px) {
    .buttonGroups {
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        bottom: unset;
    }

    .fs-48, .fs-40 {
        font-size: 32px !important;
        font-weight: 700 !important;
    }

    .fs-20 {
        font-size: 18px !important
    }

    .fs-22 {
        font-size: 20px !important
    }
}
